<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SOS Vial</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet"/>
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/4.5.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/4.5.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/4.5.1/firebase-database.js"></script>
    <script defer src="/__/firebase/4.5.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/4.5.1/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
           <div  class="col s3 ">
               <img class="circle responsive-img" src="" alt="">
               <h3></h3>
           </div>
           <div class="col s6 ">
               <h5></h5>
           </div>
           <div class="col s3 ">
               <a href="#" id="cerrar">Cerrar session</a>
           </div>
        </div>
        
      </div>
      
      
      <div class="container">
        <table>
        <thead>
          <tr>
              <th>Servicio</th>
              <th>Chofer</th>
              <th>Fecha</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Grua ramirez</td>
            <td>Juan ramirez</td>
            <td>1-julio-17</td>
          </tr>
          <tr>
            <td>Gruas unidas</td>
            <td>Ernesto garcia</td>
            <td>1-enero-17</td>
          </tr>
          <tr>
            <td>servicio de gruas mexico</td>
            <td>luis flores</td>
            <td>1-agosto-16</td>
          </tr>
        </tbody>
      </table>
              
      </div>
      
      <div class="container">
          <div class="row">
             <div class="col s5 offset-s3">
                 <a class="waves-effect waves-light btn" href="ubicacion.html">Regresar al Inicio</a>
             </div>
              
          </div>
      </div>
      


	
        
   

	
   
   

   
   
  

         

	
	
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCirtGDP1vAyTKEc1-DJVSon49cP9z98kI&libraries=places" ></script>
    <script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/mapa.js"></script>
    <script src="../js/autenticacionGoogle.js"></script>
    
    

</body>
</html> 
     
     
     